.DS_Store
thumbs.db
log/*.log
config/database.yml
tmp/**/*
db/*.sqlite3
db/development_structure.sql
doc/api
doc/app
doc/plugins
doc/controllers.png
doc/models.png
nbproject/
nbproject/*
public/uploads
public/uploads/**/*
public/files/areas/*
public/files/medias/*
*.tmproj
*.swp
coverage/*
*~
public/javascripts/cache
public/stylesheets/cache
tags
rubyrun/*
public/rubyrun_rss/*
*#*#
*.#*
*_flymake.rb
tmp/*
public/stylesheets/*.css
db/schema.rb
