%h1.heading
  = "Editing group %s" % @group.id
  
- semantic_form_for(@group) do |form|
  = render 'form', :form => form
  - form.buttons do
    = form.commit_button 'Update'
    
%p.actions
  = link_to 'Cancel', groups_path