#queue
  %h1 Config

#fullblock.content
  %h2 SSH Key
  %pre.key= @key


  %h2 Use Auth?
  = check_box_tag ""

  %h2 Listen Port
  = text_field_tag ""

  %h2 Listen?
  = check_box_tag ""




#about
  Jah v0.0.2 Beta (fireho).com